@page
@model Web.Pages.Series.IndexModel
@{
}

<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h1>Listado de Series</h1>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <p class="mb-1">Filtros</p>
            <form method="get">
                <select name="idGenero" class="form-select w-50">
                    <option value="">-- Selecciona un género --</option>
                    @if(Model.generos != null)
                    {
                        @foreach (var genero in Model.generos)
                        {
                            <option value="@genero.Id" selected="@(Request.Query["idGenero"] == genero.Id.ToString() ? "selected" : null)">
                                @genero.Name
                            </option>
                        }
                    }
                </select>
                <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @if (Model.series != null)
        {
            @foreach (var serie in Model.series)
            {
                <div class="col-md-4 col-12 mb-3">
                    <div class="card">
                        <img src=@serie.Imagen class="card-img-top" alt="poster de la peli">
                        <div class="card-body">
                            <h5 class="card-title">@serie.Titulo<span class="text-muted ms-1">(@serie.Fecha)</span></h5>
                            <p class="ms-0 mb-2">
                                <span>⭐@serie.Calificacion</span>
                            </p>
                            <p class="card-text">@serie.Descripcion</p>
                            <div>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalFavorito" data-id="@serie.idMedia" data-nombre="@serie.Titulo">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalLista" data-id="@serie.idMedia" data-nombre="@serie.Titulo">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                                        <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z" />
                                        <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col">
                <h2>
                    Sin contenido
                </h2>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="modalFavorito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Favorito</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input hidden id="modalFavoritoId" name="idMedia" />
                    <input hidden id="modalFavoritoNombre" />
                    <div class="form-group my-3">
                        <label for="comentario" class="form-label">Comentario</label>
                        <input type="text" class="form-control" id="comentario" />
                    </div>
                    <div class="form-group my-3">
                        <label for="puntuacion" class="form-label">Puntuacion</label>
                        <input type="number" class="form-control" id="puntuacion" min="1" max="10" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalLista" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar a Ver mas tarde</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input hidden id="modalListaId" name="idMedia" />
                    <input hidden id="modalListaNombre" />
                    <div class="form-group my-3">
                        <label for="prioridad" class="form-label">Prioridad</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Defina una prioridad</option>
                            <option value="1">Alta</option>
                            <option value="2">Media</option>
                            <option value="3">Baja</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modalFavorito = document.getElementById('modalFavorito');
        modalFavorito.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var nombre = button.getAttribute('data-nombre');
            document.getElementById('modalFavoritoId').value = id;
            document.getElementById('modalFavoritoNombre').value = nombre;
        });

        var modalLista = document.getElementById('modalLista');
        modalLista.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var nombre = button.getAttribute('data-nombre');
            document.getElementById('modalListaId').value = id;
            document.getElementById('modalListaNombre').value = nombre;
        });
    });
</script>